.MainDivGetV {
  font-size: xx-large;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signUpDiv {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  box-shadow: 5px 10px 8px #888888;
  background-color: rgb(255, 149, 0);
}

.dateDiv {
  margin: 1% 0% 7% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ChooseTypeVhicle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  div {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
input {
  font-size: xx-large;
}
select {
  font-size: xx-large;
}

.submitButton {
  margin-top: 4%;
  padding: 5%;
  border-radius: 15%;
  background-color: rgb(255, 98, 1);
}
.innerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  Button {
    border: 0.1px solid black;
    font-size: xx-large;
    width: 40%;
    height: 80%;
    background-color: wheat;
    transition: 0.6s;
    &:hover {
      cursor: pointer;
      background-color: rgb(245, 159, 0);
    }
  }
}

.Seperator {
  margin-bottom: 5%;
  margin-top: 10%;
}

.CheckBoxHitchhickers {
  top: 5px;
  width: 20px;
  height: 20px;
}
.PopUpBackground {
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 30%;
  margin-bottom: 10px;
  Button {
    height: inherit;
    width: inherit;
    transition: 0.6s;
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 192, 75, 0.508);
    }
  }
}
.InfoPopUp {
  margin-top: 10px;
}
