.MainDivGetV {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}

.dateDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ChooseTypeVhicle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
