@media only screen and (min-width: 1501px) {
  .MainDivRides {
    flex-direction: column;
  }
  .filter-notdate {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1500px) {
  .MainDivRides {
    flex-direction: column;
  }
  .filter-nav {
    flex-direction: column;
  }
}

table,
th,
td {
  font-size: larger;
  border: 1px solid;
  padding: 15px;
  text-align: left;
}
tr {
  transition: 0.3s;
}
table {
  margin-top: 3%;
  margin-bottom: 5%;
  border-collapse: collapse;
  border: 0.1 solid black;
  box-shadow: 10px 10px 10px rgb(112, 112, 112);
}
.MainDivRides {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
th {
  background-color: rgb(255, 212, 131);
  color: rgb(0, 0, 0);
  transition: 0.3s;
  &:hover {
    background-color: rgba(255, 166, 0, 0.649);
  }
}
tr:hover {
  cursor: pointer;
  background-color: rgb(255, 194, 79);
}
.filter-nav {
  background-color: rgb(255, 196, 87);
  padding: 17px;
  box-shadow: 15px 10px 8px #888888;
  display: flex;
  justify-content: space-evenly;
}

.Headline {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-notdate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: flex-start;
  input {
    width: 90%;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 188, 64);
    }
    &:focus {
      background-color: rgb(255, 166, 0);
      color: rgb(0, 0, 0);
    }
  }
}
.filter-button {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.rdrCalendarWrapper {
  color: #000000;
  font-size: 30px;
}
.SpecificInput {
  display: flex;
  input {
    margin-right: 5%;
  }
  button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
  }
}
