.MainMenuDiv {
  height: 100%;
  width: 100%;
  background-color: rgba(245, 222, 179, 0.374);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 244, 120);
}
