@media only screen and (min-width: 1001px) {
  .topnav a {
    font-size: xx-large;
    padding: 10px 10px;
    height: 7vh;
  }
}

@media only screen and (max-width: 1000px) {
  .mySwiper {
    width: 100%;
  }
  .swiper-wrapper {
    width: 100%;
    align-items: center;
  }
  .topnav a {
    font-size: x-large;
    padding: 10px 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 7vh;
  }
}

.MainMenuDiv {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
}

.MainMenuIMG {
  border-right: 1px solid black;
  width: 5%;
}

.header {
  background-color: rgb(247, 161, 0);
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: space-between;
}
.TheStaiblayzer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 203, 106);
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  transition: 1s;
  box-shadow: 0px 10px 8px #888888;
  &:hover {
    background-color: rgba(153, 105, 0, 0.503);
  }
  .topnav {
    width: 60%;
    background-color: rgb(255, 203, 106);
    display: flex;
    transition: 1s;

    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(153, 105, 0, 0.503);
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      text-align: center;
      text-decoration: none;
      transition: 0.5s;
      border-left: 1px solid black;
      border-right: 1px solid black;

      &:hover {
        background-color: rgb(246, 181, 61);
        color: black;
      }
    }
  }
}

.TheRestOfTheSite {
  display: flex;
  justify-content: center;
  align-items: center;
}
