.MainDiv {
  background-color: rgba(245, 222, 179, 0.374);
  border: 1px black solid;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

form {
  width: 50%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input:focus {
    border: 1px rgb(0, 0, 0) solid;
  }
}
.Button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.25s;
  &:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: #4caf4f75;
  }
}
